.chat-textbox {
  color: #619b84;
  margin: 10px;
  bottom: 0px;
  position: absolute;
  width: 70%;
  text-align: center;
  font-weight: bolder;
}

.text-area-texbox {
  margin: 0px;
  background-color: #619b84;
}

.message-card {
  width: 50%;
  margin: 10px;
}

.message-card-time {
  text-align: left;
  margin: 10px 0px 0px 10px;
  padding: 10px 0px 0px 10px;
}
.message-card-userName {
  text-align: left;
  margin: 0px 0px 10px 10px;
  padding: 0px 0px 10px 10px;
}

.message-card-text {
  text-align: right;
  margin-right: 10px;
}

.chat-screen {
  background-color: transparent;
}
